body {
  background-color: teal;
  color: whitesmoke;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 10px 25px;
}

.container {
  margin-left: 40px;
  margin-right: 40px;
}

.card1 {
  margin: 20px 20px;
  background-color: azure;
  color: black;
  border-radius: 15px;
  box-shadow: 2px 2px rgb(88, 87, 87);
  padding-top: 3px;
  padding-bottom: 20px;
}

.card2 {
  margin: 20px 20px;
  background-color: azure;
  color: black;
  border-radius: 15px;
  box-shadow: 2px 2px rgb(88, 87, 87);
}

.image_circle {
  border-radius:50%
}

li {
  display: inline;
  padding: 15px;
}

ul {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 0;
}

a {
  text-decoration: none;
  color:antiquewhite;
  font-weight: 800;
  padding: 10px;
  border-radius: 10px;
  margin-top: 100px;
  background-color:rgb(60, 60, 228)
}

a:hover {
  background-color:rgb(114, 114, 222)
}

h1 {
  color:darkslategrey;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  padding: 10px;
}

h2 {
  padding: 10px;
  color: darkslategrey;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

p {
  padding: 10px;
}
